.custom-radio {
display: flex;
}

.custom-radio input {
  appearance: none;
  opacity: 0;
}

.custom-radio label {
  padding: 5px 15px;
  border-radius: 5px;
  transition-duration: 0.3s;
  cursor: pointer;
}

.custom-radio label:has(input:checked){
  background-color: var(--bs-primary);
  color: var(--bs-body-bg);
}
