<div class="modal-header">
  <h4 class="modal-title">Gestione Utenti</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <div>
    <h5 *ngIf="selectedUser">Modifica Utente</h5>
    <h5 *ngIf="!selectedUser">Crea Nuovo Utente</h5>
    <input type="text" [(ngModel)]="newUsername" placeholder="Username" />
    <input type="password" [(ngModel)]="newPassword" placeholder="Password" />
    <select [(ngModel)]="newRoleName">
      <option value="" disabled selected>Seleziona Ruolo</option>
      <option *ngFor="let role of roles" [value]="role.name">{{ role.name }}</option>
    </select>
    <button (click)="selectedUser ? updateUser() : createUser()">
      {{ selectedUser ? 'Aggiorna' : 'Crea' }}
    </button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Ruolo</th>
        <th>Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.username }}</td>
        <td>{{ user.roleName}}</td>
        <td>
          <button (click)="editUser(user)">Modifica</button>
          <button (click)="deleteUser(user.id)">Elimina</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Chiudi</button>
</div>
